<h2 mat-dialog-title>Lascia una Recensione</h2>
<div mat-dialog-content>
  <p>Seleziona la tua valutazione:</p>
  <div class="stars-container">
    <mat-icon
      *ngFor="let i of [1, 2, 3, 4, 5]"
      (mouseover)="hoverStelle = i"
      (mouseleave)="hoverStelle = stelleSelezionate"
      (click)="setStelle(i)"
      [ngClass]="{ selected: i <= hoverStelle, empty: i > hoverStelle }"
    >
      {{ i <= hoverStelle ? "star" : "star_border" }}
    </mat-icon>
  </div>

  <div class="comment-container">
    <mat-form-field appearance="outline">
      <mat-label>Lascia un commento (opzionale)</mat-label>
      <textarea matInput [(ngModel)]="commento"></textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="chiudi()">Annulla</button>
  <button
    mat-button
    color="primary"
    (click)="confermaRecensione()"
    [disabled]="stelleSelezionate === 0"
  >
    Conferma
  </button>
</div>
